@defer {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Tytuł pytania</mat-label>
      <input matInput id="title" type="text" formControlName="title" />
      @if (title.invalid && title.touched) {
        @if (title.errors?.['required']) {
            <mat-error>Title is required</mat-error>
        }
        @if (title.errors?.['minlength']) {
            <mat-error>Minimal length is 3 chars</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Type of question</mat-label>
      <mat-select id="type" formControlName="type">
        @for (qType of questionTypes; track qType.value) {
          <mat-option [value]="qType.value">{{ qType.label }}</mat-option>
        }
      </mat-select>
      @if (type.invalid && type.touched) {
        <mat-error>Choose type of question</mat-error>
      }
    </mat-form-field>

    <div class="is-flex-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Add question
        </button>
    </div>
  </form>
}